<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529839874628-f4ctia048tkm6njjnvd8657k3i1liams.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529839874628-f4ctia048tkm6njjnvd8657k3i1liams</string>
	<key>API_KEY</key>
	<string>AIzaSyDT-18C2qyg-T309UA2zwY1MEi1aKCLO6c</string>
	<key>GCM_SENDER_ID</key>
	<string>529839874628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solucionesruiz.AppPerros</string>
	<key>PROJECT_ID</key>
	<string>appperros-1759f</string>
	<key>STORAGE_BUCKET</key>
	<string>appperros-1759f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529839874628:ios:4062a300ea0776f7f39211</string>
</dict>
</plist>